
#b325 , div.b326 {
    border: 1px solid rgb(22, 133, 22);
    width: 20%;
    font-weight: bold; 
}

div.big {
color:rgb(74, 103, 146);
width: 20%;
}
p {
    background-color: rgb(233, 247, 47);
    color:rgb(74, 103, 146);
    width: 20%;
}
.b329{
    font-weight: bold;
    color:rgb(74, 103, 146);
    width: 20%;
}
